@model IEnumerable<Proyecto_Resto.Models.ItemReserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    <a asp-action="Create" class="btn btn-success">Agregar Item</a>

</p>




@{
    double total = 0;
    foreach (var item in Model)
    {
        total += item.Plato.precio;
    }
}




<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 text-center">
                <div class="card">
                    <img src="@item.Plato.Imagen" class="card-img-top" alt="@item.Plato.nombre" height="250" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Plato.nombre</h5>
                        <p class="card-text">@item.Plato.descricpion</p>
                        <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                    </div>
                </div>
            </div>

            <hr />
        }
    </div>

    <br /><br />
    <div class="card text-center">
        <div>
            <h5 class="card-title">Importe total del Menu</h5>
            <p class="card-text">$ @total.ToString()</p>
            <a class="btn btn-danger" asp-controller="Reservas" asp-action="Create">Generar Reserva</a>
        </div>
    </div>
</div>













@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemProcesado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemProcesado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plato.descricpion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@