@model IEnumerable<Proyecto_Resto.Models.ItemReserva>

@{
    ViewData["Title"] = "Index";
}

@{
    double total = 0;
    foreach (var item in Model)
    {
        total += item.Plato.precio;
    }
}


<br />
<br />
<br />
<br />
<br />

<div align="center" class="jumbotron">
<h3>Elegir Menu</h3>

<p align="center">
    @*<a asp-action="Create">Create New</a>*@
        <a asp-action="Create" class="btn btn-outline-success my-3">Agregar Item</a>

</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 text-center">
                <div class="card">
                    <img src="@item.Plato.Imagen" class="card-img-top" alt="@item.Plato.nombre" height="250" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Plato.nombre</h5>
                        <p class="card-text">@item.Plato.descricpion</p>
                        <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                    </div>
                </div>
            </div>

            <hr />
        }
    </div>

    <br /><br />
    <div class="card text-center" id="jb2">
        <div>
            <h4>Importe total del Menu</h4>
            <p class="card-text">$ @total.ToString()</p>
                <a class="btn btn-outline-danger my-3" asp-controller="Reservas" asp-action="Create">Confirmar Menu</a>
        </div>
    </div>
</div>
</div>
