@model IEnumerable<Proyecto_Resto.Models.ItemReserva>

@{
    ViewData["Title"] = "Index";
}

@{
    double total = 0;
    foreach (var item in Model)
    {
        total += item.Plato.precio;
    }
}

<br />
<br />
<br />

<div align="center" class="jumbotron">
<h3>Elegir Menu</h3>

<p align="center">
    @*<a asp-action="Create">Create New</a>*@
        <a asp-action="Create" class="btn btn-outline-success my-3">Agregar Item</a>
        <img src="~/img/3.png" width="80px"/>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 text-center">
                <div class="card">
                    <img src="@item.Plato.Imagen" class="card-img-top" alt="@item.Plato.nombre" height="250" />

                    <div class="card-body">
                        <h5 class="card-title">@item.Plato.nombre</h5>
                        <p class="card-text">@item.Plato.descricpion</p>
                            <a asp-action="Delete" asp-route-id="@item.Id" style="font-size:1rem;" class="btn btn-outline-danger">-</a>
                    </div>
                </div>
            </div>

           
        }
    </div>

    <br /><br />
    <div class="card text-center" id="jb2">
        <div>
            
            @if(total > 0){
                    <h4>Importe total del Menu</h4>
                    <p class="card-text">$ @total.ToString()</p>
                    <a class="btn btn-outline-info my-3" asp-controller="Reservas" asp-action="Create">Confirmar Menu</a>
            }
            else
            {
                    <h4>Sin Platos</h4>
            }
            
        </div>
    </div>
</div>
</div>
<a class="text-white" asp-area="" asp-controller="Home" asp-action="Index">volver</a>