@model IEnumerable<Proyecto_Resto.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<h4 style="color:antiquewhite">Menu</h4>



<table class="table">
    <thead style="background-color:black">
        <tr>
    @*        <th>

                @Html.DisplayNameFor(model => model.Fecha)
            </th>
*@
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                Menu
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody class="fondoTd">
        @foreach (var item in Model)
        {
            @if(item.isProcessed==false){
                <tr>
             @*       <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>*@
                    <td>
                        $ @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>

                        @foreach (var i in item.ItemReserva)
                        {
                            <p class="small">@i.Plato.nombre</p>
                        }

                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Generar Reserva</a>
                        <img src="~/img/5.png" width="60px" />
                        |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        
        }
    </tbody>
</table>
