@model IEnumerable<Proyecto_Resto.Models.Restaurante>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<h3>Listado de Restaurantes</h3>

<p>
    <a asp-action="Create">Agregar nuevo Restaurante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="fondoTd">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">info</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
